{
  "useTabs": false,
  "tabWidth": 2,
  "singleQuote": true,
  "semi": true,
  "trailingComma": "all",
  "printWidth": 85,
  "overrides": [{ "files": "*.svelte", "options": { "parser": "svelte" } }]
}
