.text {
  font: var(--font-action);
  letter-spacing: var(--font-action-letter-spacing);
}

.logo {
  display: flex;
  gap: 8px;
  opacity: 0;
  transition: opacity 0.5s ease-out;

  &.visible {
    opacity: 1;
  }
}
