.footer {
  position: relative;
  display: flex;
  align-items: center;
}

.actions {
  position: relative;
  z-index: var(--z-index-content);

  display: flex;
  gap: 10px;

  margin-left: auto;
}

.stepper {
  position: absolute;
  z-index: var(--z-index-backdrop);

  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100%;
}
