.logo {
  position: absolute;
  top: 20px;
  left: 20px;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.view {
  position: relative;
  width: 900px;
  height: 470px;
}
