.logo {
  position: absolute;
  top: 20px;
  left: 20px;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.view {
  position: relative;

  width: 900px;
  height: 470px;
  padding: 40px 60px;

  background-color: var(--color-background-overlay);
  border-radius: var(--border-radius-l);
}

.stepper {
  position: absolute;
  bottom: 40px;
  left: 60px;

  width: calc(100% - 120px);

  text-align: center;

  p {
    text-align: center;
  }
}
